// Default Styles
@use 'variables' as *;
body {
    font-family: $font;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

.main-wrapper {
    margin: 1rem;
}

a:hover,
a:focus,
a:visited{
    color: blue;
}

a:active{
    color: red;
}