// Default Styles
@use 'variables' as *;
body {
    font-family: $font;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

.main-wrapper {
    margin: 0 auto;
    min-height: 100vh;
    
    // @media (width > $tablet-large) {
    //     margin: 0 auto;
    // }
}

a:hover,
a:focus,
a:visited{
    color: blue;
}

a:active{
    color: red;
}

p{
    line-height: 1.5rem;
}