// Header Style
@use 'variables' as *;

header {

    .navbar {
        background-color: $header-bg;
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    label.logo {
        background-color: $theme-yellow;
        border-radius: 4px;
        padding: .2rem;
        font-size: 2rem;

        a {
            color: black;
            text-decoration: none;
        }
    }


    .nav-menu {
        background-color: $header-bg;
        text-decoration: none;
        text-align: center;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .3rem;

        li {
            margin: 0 .5rem;
            line-height: 3.5rem;
            font-size: 1.2rem;
            text-transform: uppercase;

            a {
                color: $header-color;
                text-decoration: none;
                transition: 0.5s ease;
            }
        }
    }
}

.nav-menu li a:hover {
    color: $theme-yellow;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width: $tablet-large) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
        transition: 1s ease-in-out;

        &.active {
            top: 4rem;
            z-index: -1;
        }
    }
}

.search-form {

    width: fit-content;
    line-height: 0;
    border: 1px solid $theme-yellow;
    border-radius: 1rem;
    padding: .2rem;
    margin: 1rem 0;

    input {
        background-color: transparent;
        border: none;
        margin-left: .2rem;
        color: white;
        font-size: 1.2rem;
    }

    input::placeholder {
        color: grey;
    }

    button {
        background-color: transparent;
        border: none;
        color: $theme-yellow;
    }
}