// variables

// Typography
$font: 'Roboto', sans-serif;

// colors
$theme-yellow: #EDCB0F;
$header-bg: #000000;
$footer-bg: #000000;

$header-color: #ffffff;
$footer-color: #ffffff;
$body-color: #000000;

// Break Points
$mobile: 20.625em; // 330px
$tablet-small: 31.25em; // 500px
$tablet-large: 44.375em; // 710px
$desktop-small: 48.125em; // 770px
$desktop-large: 64em; // 1024px
