// variables

// Typography
$font: 'Roboto', sans-serif;

// colors
$btn-yellow: #EDCB0F;

// heading color

// body color


// Break Points
$mobile: 20.625em;
$tablet-small: 31.25em;
$tablet-large: 44.375em;
$desktop-small: 48.125em;